<section class="mt-3">
  <form
    action="/"
    method="post"
    class="row g-3 d-flex flex-column justify-content-center align-items-center"
  >
    <div class="col-auto">
      <label for="inputPassword2">Company Code:</label>
      <input
        name="companyCode"
        type="text"
        class="form-control"
        id="inputPassword2"
        placeholder="Input here..."
      />
    </div>
    <div class="col-auto">
      <label for="inputPassword2">Date (YYYY.MM.DD):</label>
      <input
        name="date"
        type="text"
        class="form-control"
        id="inputPassword2"
        placeholder="YYYY.MM.DD"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary w-100">Get Data</button>
    </div>
  </form>
</section>
<%if (RITafter !== undefined){%>
<div class="info-input my-2">
  <h5 class="text-center">Input date: <%=targetDate%></h2>
    <h5 class="text-center">Company: <%=companyCode%></h2>
</div>
<section class="d-flex justify-content-evenly">
  <div class="rit-wrapper p-2 d-flex justify-content-evenly">
    <div class="after p-4 rounded-3 bg-light me-3">
      <h3 class="text-success">(RIT) After <%=differDay%> Days</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <!-- <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th> -->
            <th scope="col">Adj Close</th>
            <!-- <th scope="col">Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <%RITafter.forEach((data,index)=>{%> <%if(index==0){%>
          <tr class="">
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></div></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><div class=""><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}else{%>
          <tr>
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></div></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}%> <%})%>
        </tbody>
      </table>
    </div>
    <div class="before p-4 rounded-3 bg-light">
      <h3 class="text-success">(RIT) Before <%=differDay%> Days</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <!-- <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th> -->
            <th scope="col">Adj Close</th>
            <!-- <th scope="col">Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <%RITbefore.forEach((data,index)=>{%> <%if(index==RITbefore.length-1){%>
          <tr class="">
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><div class=""><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}else{%>
          <tr>
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></div></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}%> <%})%>
        </tbody>
      </table>
    </div>
  </div>
  

  
  <div class="ihgs-wrapper d-flex p-2 justify-content-evenly">
    <div class="after p-4 rounded-3 bg-light me-3">
      <h3 class="text-success">(IHGS) After <%=differDay%> Days</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <!-- <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th> -->
            <th scope="col">Adj Close</th>
            <!-- <th scope="col">Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <%IHGSafter.forEach((data,index)=>{%> <%if(index==0){%>
          <tr class="">
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></div></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><div class=""><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}else{%>
          <tr>
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></div></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}%> <%})%>
        </tbody>
      </table>
    </div>
    <div class="before p-4 rounded-3 bg-light">
      <h3 class="text-success">(IHGS) Before <%=differDay%> Days</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Dates</th>
            <!-- <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th> -->
            <th scope="col">Adj Close</th>
            <!-- <th scope="col">Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <%IHGSbefore.forEach((data,index)=>{%> <%if(index==IHGSbefore.length-1){%>
          <tr class="">
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><div class=""><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}else{%>
          <tr>
            <td><%=data.date%></td>
            <!-- <td><%=data.open%></div></td>
            <td><%=data.high%></td>
            <td><%=data.low%></td>
            <td><%=data.close%></td> -->
            <td><%=data.adjClose%></div></td>
            <!-- <td><%=data.volume%></td> -->
          </tr>
          <%}%> <%})%>
        </tbody>
      </table>
    </div>
  </div>
</section>
<%}%>
